* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CSS Reset End */

.default-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.padding {
  padding: 10px;
}


.header {
  width: 700px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;  
  background-color: black;
  height: 70px;
}

.header img {
  height: 65px;
  width: 100px;
}

.navbar img {
  height: 65px;
  width: 100px;
}

.headerh1 {
  color: white;  
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 70px;
  height: 70px;
  padding-bottom: 0;
  padding-top: 0;
  
}



.cards {  
  padding-left: 0px;
  max-width: 800px;
  margin: auto;
  border: 2px solid red ;
}

.cards ul {
  padding-left: 0px;
}

#NavBarBg {
  margin: auto;  
  height: 91px;
}

#NavBarTop {
  margin: auto;
  max-width: 800px;
  align-items: center;
  
}

#FooterBarBg {
  margin: auto;
  height: 91px;
}

#FooterBarItems {
  width: 800px;  
  color: white;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; 
}



#testBar {
  background-color: black;
}



#spinner {
  margin: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 9999999999;
  overflow: hidden;
}